*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 :root{
   --main-color:#6e87aa;
   --link-color: green;
   --card-color: ivory;
 }
 .overflow-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 }

 body{
   min-height: 100vh;
   width: 100%;
   padding-top: 50px;
   
   background-color: black;
   
   text-align: center;
   font-size: 17px;
   font-family: sans-serif;
 }
 .background-section{
   min-width:300px ;
   width: 100%;
   max-width: 600px;
   height: 80vh;
   margin: auto;
   padding-top: 50px;

   background-color: var(--main-color);
   
 }
.card-form{
  width: 80%;
  min-height: 50vh;
  height: 90%;  
  margin: 0 auto;
  background-color: ivory;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between; min-width :200px;
  width: 85%;
  max-width: 100%;
  height: 82%;
  padding:  10px 0;
  margin: 0 auto; 
  
}
.name-field{
  display: flex;
  justify-content: space-between;
}
.text{width: 48%}

input{
    font-size: 18px;
    padding: 10px;
  }

 .span{

   position: relative;
   text-transform: capitalize; 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 20px;
   font-size: 30px;
   color: darkgray;
 }

 .main-header::after,::before{
   content: '';
   border: 1px solid lightgrey;
   padding: 0 65px;
   position: absolute;
   top:50%;}
   
   .main-header::before{
    right: 65%;
 }
 .main-header::after{
  left: 65%;
}
 .p-form{
   text-align: center;
   color: grey;
   
 }
 .button{
   background-color:green;
   text-transform: capitalize;
   color: white;
 }
  .label{
    width: 95%;
    color: grey;
  }

 .main-link{
   text-decoration: none; 
   color: var(--link-color);
   text-transform: capitalize;
 }
  .footer-p{
    padding-top: 20px;
  }
  .footer-link{color: inherit;}
