*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body{
   background-color: black;
   font-size: 17px;
   font-family: sans-serif;
   min-height: 100vh;
   width: 100%;
 }
 .background-section{
   min-width:300px ;
   width: 100%;
   max-width: 600px;
   height: 80vh;
   margin: 50px auto;

   background-color: cadetblue;
   border: 1px solid green;
 }
.card-form{
  width: 70%;
  height: 80%;  
  margin: 30px auto;
  border: 1px solid yellow;
  background-color: white;
}
form{

  width :90%;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
   justify-content: space-between; 
   
   background-color: grey;
}
.name-field{
  display: inline-block;
}
